# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
xlm-roberta-base-finetuned-panx-de
xlm-roberta-base-finetuned-panx-de
xlm-roberta-base-finetuned-panx-de

data/notebooks-main/01_introduction.ipynb
data/notebooks-main/02_classification.ipynb
data/notebooks-main/03_transformer-anatomy.ipynb
data/notebooks-main/04_multilingual-ner.ipynb
data/notebooks-main/05_text-generation.ipynb
data/notebooks-main/06_summarization.ipynb
data/notebooks-main/07_question_answering_v2.ipynb
data/notebooks-main/07_question-answering.ipynb
data/notebooks-main/08_model-compression.ipynb
data/notebooks-main/09_few-to-no-labels.ipynb
data/notebooks-main/10_transformers-from-scratch.ipynb
data/notebooks-main/11_future-directions.ipynb
data/notebooks-main/environment-chapter7.yml
data/notebooks-main/environment.yml
data/notebooks-main/install.py
data/notebooks-main/LICENSE
data/notebooks-main/plotting.mplstyle
data/notebooks-main/README.md
data/notebooks-main/requirements-chapter7-v2.txt
data/notebooks-main/requirements-chapter7.txt
data/notebooks-main/requirements.txt
data/notebooks-main/settings.ini
data/notebooks-main/utils.py
data/notebooks-main/.github/ISSUE_TEMPLATE/bug_report.md
data/notebooks-main/.github/ISSUE_TEMPLATE/question-about-the-book.md
data/notebooks-main/data/github-issues-transformers.jsonl
data/notebooks-main/images/book_cover.jpg
data/notebooks-main/images/chapter01_enc-dec-attn.png
data/notebooks-main/images/chapter01_enc-dec.png
data/notebooks-main/images/chapter01_hf-ecosystem.png
data/notebooks-main/images/chapter01_hub-model-card.png
data/notebooks-main/images/chapter01_hub-overview.png
data/notebooks-main/images/chapter01_rnn.png
data/notebooks-main/images/chapter01_self-attention.png
data/notebooks-main/images/chapter01_timeline.png
data/notebooks-main/images/chapter01_transfer-learning.png
data/notebooks-main/images/chapter01_ulmfit.png
data/notebooks-main/images/chapter02_attention-alignment.png
data/notebooks-main/images/chapter02_attention-mask.png
data/notebooks-main/images/chapter02_encoder-classifier.png
data/notebooks-main/images/chapter02_encoder-feature-based.png
data/notebooks-main/images/chapter02_encoder-fine-tuning.png
data/notebooks-main/images/chapter02_hf-libraries.png
data/notebooks-main/images/chapter02_transformers-compact.html
data/notebooks-main/images/chapter02_transformers.html
data/notebooks-main/images/chapter02_transformers.png
data/notebooks-main/images/chapter02_tweet.png
data/notebooks-main/images/chapter03_attention-ops.png
data/notebooks-main/images/chapter03_contextualized-embedding.png
data/notebooks-main/images/chapter03_decoder-zoom.png
data/notebooks-main/images/chapter03_encoder-zoom.png
data/notebooks-main/images/chapter03_layer-norm.png
data/notebooks-main/images/chapter03_multihead-attention.png
data/notebooks-main/images/chapter03_transformer-encoder-decoder.png
data/notebooks-main/images/chapter03_transformers-compact.png
data/notebooks-main/images/chapter04_bert-body-head.png
data/notebooks-main/images/chapter04_clf-architecture.png
data/notebooks-main/images/chapter04_ner-architecture.png
data/notebooks-main/images/chapter04_ner-widget.png
data/notebooks-main/images/chapter04_tokenizer-pipeline.png
data/notebooks-main/images/chapter05_beam-search.png
data/notebooks-main/images/chapter05_lm-meta-learning.png
data/notebooks-main/images/chapter05_meena.png
data/notebooks-main/images/chapter05_text-generation.png
data/notebooks-main/images/chapter07_dpr.png
data/notebooks-main/images/chapter07_marie-curie.png
data/notebooks-main/images/chapter07_phone.png
data/notebooks-main/images/chapter07_qa-head.png
data/notebooks-main/images/chapter07_qa-pyramid.png
data/notebooks-main/images/chapter07_rag-architecture.png
data/notebooks-main/images/chapter07_retriever-reader.png
data/notebooks-main/images/chapter07_sliding-window.png
data/notebooks-main/images/chapter07_squad-models.png
data/notebooks-main/images/chapter07_squad-schema.png
data/notebooks-main/images/chapter07_squad-sota.png
data/notebooks-main/images/chapter08_bert-onnx.png
data/notebooks-main/images/chapter08_fp32-to-int8.png
data/notebooks-main/images/chapter08_kd.png
data/notebooks-main/images/chapter08_magnitude-vs-movement.png
data/notebooks-main/images/chapter08_network-pruning.png
data/notebooks-main/images/chapter08_onnx-ort.png
data/notebooks-main/images/chapter08_oos.png
data/notebooks-main/images/chapter08_pegasus.png
data/notebooks-main/images/chapter08_pruning-dists.png
data/notebooks-main/images/chapter08_roblox.png
data/notebooks-main/images/chapter08_soft-probs.png
data/notebooks-main/images/chapter08_t5.png
data/notebooks-main/images/chapter09_decision-tree.png
data/notebooks-main/images/chapter09_faiss-index.png
data/notebooks-main/images/chapter09_issue-example-v2.png
data/notebooks-main/images/chapter09_nearest-neighbours.png
data/notebooks-main/images/chapter09_uda.png
data/notebooks-main/images/chapter09_ust.png
data/notebooks-main/images/chapter10_code-snippet.png
data/notebooks-main/images/chapter10_ddp.png
data/notebooks-main/images/chapter10_preprocessing-clm.png
data/notebooks-main/images/chapter10_pretraining-clm.png
data/notebooks-main/images/chapter10_pretraining-mlm.png
data/notebooks-main/images/chapter10_pretraining-seq2seq.png
data/notebooks-main/images/chapter11_atomic-sparse-attention.png
data/notebooks-main/images/chapter11_clip-arch.png
data/notebooks-main/images/chapter11_compound-sparse-attention.png
data/notebooks-main/images/chapter11_dall-e.png
data/notebooks-main/images/chapter11_efficient-attention.png
data/notebooks-main/images/chapter11_iGPT.png
data/notebooks-main/images/chapter11_layoutlm.png
data/notebooks-main/images/chapter11_linear-attention.png
data/notebooks-main/images/chapter11_scaling-modal.png
data/notebooks-main/images/chapter11_scaling.png
data/notebooks-main/images/chapter11_table-qa.png
data/notebooks-main/images/chapter11_tapas-architecture.png
data/notebooks-main/images/chapter11_vit-architecture.png
data/notebooks-main/images/chapter11_vqa.png
data/notebooks-main/images/chapter11_wav2vec-u.png
data/notebooks-main/images/chapter11_wav2vec2.png
data/notebooks-main/images/doge.jpg
data/notebooks-main/images/optimusprime.jpg
data/notebooks-main/SageMaker/01_introduction.ipynb
data/notebooks-main/SageMaker/02_classification.ipynb
data/notebooks-main/SageMaker/README.md
data/notebooks-main/SageMaker/utils.py
data/notebooks-main/SageMaker/images/git_repo.png
data/notebooks-main/SageMaker/images/iam_role.png
data/notebooks-main/SageMaker/images/notebook_config.png
data/notebooks-main/SageMaker/scripts/02_classification_train.py
data/notebooks-main/scripts/create_notebook_table.py
